/code/server/node_modules/
/code/server/test/
/.idea/
/code/server/logs/
/code/lib/
/code/www/avator/
/code/www/gavator/
/package.json
.DS_Store
code/.DS_Store
code/server/.DS_Store
code/www/test/
earnit_asset/
node_modules/
user/earnit/log
npm-debug.log
