
body{
    background:url("../image/bg/m1.png");
    color:white;
    padding:100px 0 0 0;
}
p{
    text-align: center;
}
#content{
    padding:0;
    margin: 0;
    /*background:teal;*/
    width:100px;
    position:absolute;
}
#send_case{
    position:absolute;
}
#head1{
    /*background-color:darkcyan;*/
    height:50px;
    position:absolute;
    padding: 0 0 0 250px;
}
#text1{
    /*background-color:teal;*/
    height:350px;
    margin-top:50px;
    position:absolute;
}
#text2{
    /*background-color:teal;*/
    height:350px;
    margin-top:50px;
    position:absolute;
    visibility: hidden;
}

#send_btn{
    background-color:lightseagreen;
}
#find_btn{
    background-color:lightseagreen;
}