.circular--square{
    border-radius:50%;
}
.allDiv{
    margin-left:auto;
    margin-right:auto;
    margin-top:6%;
    margin-bottom:auto;
    width: 60%;
    height: auto;

}
.navBar{
    padding-right: 50px;
    height: 100px;
    width: 100%;
    /*border:1px solid;*/
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}
.friendList{
    min-height: 600px;
    height: 580px;
    background: linear-gradient(to bottom right, #faf7f7, #eef2f5);
    border:0px solid;
    border-bottom-left-radius: 28px;
}
.chatList{
    width: 100%;
    min-height: 600px;
    height: 580px;
    background: linear-gradient(to bottom left, #e5edeb,#bdc2c6);
    border:0px solid;
    border-bottom-right-radius: 28px;
}
/*phone*/
.allDiv-phone{
    margin:0px;
    width:100%;
}