@bg-color:white;
@header-bgc:@blue;
//color-ios
@light-blue:#54c7fc;
@yellow:#ffcd00;
@orange:#ff9600;
@deep-orange:#fb6018;
@purple:#ff2851;
@blue:#0076ff;
@green:#44db5e;
@red:#ff3824;
@gray:#8e8e93;
@light-gray:#c2c2c2;

//color-ios-@lightBlue 的配色
@blue-blue:#0391d3;
@light-dark:#5c5c5c;

body {
  background-color:@bg-color;
  .container{
    padding:0;
  }
}
a:hover{
  text-decoration: none;
}
.text-overflow{
  //width:100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top { width:100%;top:0;}
.middle { width:100%;bottom:100px; height:300px;}
.foot {width:100%;bottom:0;}
.index{
  padding: 2px;

}
//index.html
@head-height:50px;
.my-row(@top:0;@left:0px){
  margin:@head-height 0 120px @left;
  padding:0;
}
.head-row{
  .my-row;
}
.part(@bg-color: @bg-color;){
  background-color: @bg-color;
  padding:0;
}
//header.html
.header(@head-height:50px){
  height:@head-height;
  margin: 0;
  padding: 0;
  background-color:@header-bgc;
}
.my-head{
  .header(50px);
}

@head-picture-top:5px;
@picture-width: @head-height - @head-picture-top * 2;
//头像
.head-img{
  width: @picture-width;
  height: @picture-width;
  margin:0;
}
.my-picture{
  margin: 0 0 0 5px;
  padding-top: @head-picture-top;
  .head-img;
}
.my-menu{
  padding: @head-picture-top * 2 @head-picture-top;
}
//friends_list.html
.friends-list{
  padding:0;
}
.a-friend{
  margin:10px;
  text-align: center;
}
//chatpanel
.panel_container{
  height:100%;
}
.panel_head{
  height:15%;
  background-color: blue;
}
.panel_content{
  height:70%;
  background-color: red;
}
.panel_bottom{
  height:15%;
  background-color: green;
}