<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>聊天室</title>
    <link rel="stylesheet" href="../base/mdl/material.min.css">
    <link rel="stylesheet" href="../base/bs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index_md.css">
    <link rel="stylesheet" href="../css/myStyle.css">
    <link rel="stylesheet/less" type="text/css" href="../less/index.less">
    <!--<script type="text/javascript" src="../base/other/angular1.5.js"></script>-->
    <script type="text/javascript" src="../base/other/less.js"></script>

 </head>
<body>
    <div ng-app="myApp"  class="container ng-scope" style="height:100%;">
            <div ng-include="'header.html'" class="navbar-fixed-top">
            </div>
            <!--<div class="head-row">-->
                <!--<div ng-include="'friends_list.html'" class="visible-md visible-lg  col-md-3 index"></div>-->
                <!--<div ng-include="'middle.html'" class="col-md-6 index" style="height:100%;"></div>-->
                <!--<div ng-include="'right.html'" class="visible-md visible-lg  col-md-3 index"></div>-->
            <!--</div>-->

        <!--公共聊天室-->
        <script type="text/ng-template" id="chat_pub.html">
            <div id="content" class="mdl-grid">
                <div id="messages" class="mdl-cell--12-col-desktop mdl-cell--12-col-phone">

                </div>

                <!--<form id="send-form">-->
                    <!--<input id="send-message" />-->
                    <!--<input id="send-button" type="submit" value="Send"/>-->
                <!--</form>-->

                <form id="send-form" class="">
                    <div  class="mdl-grid navbar-fixed-bottom" style="background-color: #eee;">
                        修改昵称: <code>/nick 新昵称</code>
                        <div class="mdl-cell--6-col-phone" style=" width: 75%;" >
                            <input id="send-message" class="mdl-textfield__input" type="text" rows= "1"  style="height: 38px;">
                        </div>
                        <div class="mdl-cell--12-col-phone" style=" width: 25%;text-align: center">
                            <input id="send-button" value="Send" type="submit" style="margin-left: auto;margin-right: auto" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">

                        </div>
                    </div>
                </form>
            </div>
        </script>
        <!--聊天面板modal-->
        <script type="text/ng-template" id="chat_pane.html">
            <div class="mdl-card  mdl-shadow--4dp my-middle" style="padding-top: 8px;width:100%;">
                <div id="content2" style="height:80%;overflow:auto; text-align: center;">
                    <div class="mdl-grid" style="padding-bottom: 0;padding-top: 0">
                        <div class="mdl-cell--2-col-desktop  mdl-cell--1-col-phone" style="text-align: center">
                            <img src="../image/bg/m1.png" class="img-circle" style="width: 48px;height: 48px;" border="0"  alt="friend picture" vspace="36">
                        </div>
                        <div class="mdl-cell--9-col-desktop  mdl-cell--2-col-phone" style="margin-left: auto;margin-right: auto;">
                            <h4 style="text-align: left;">
                                <small style="color:#8aba56;word-wrap: break-word;word-break: break-all;">test.name</small> <small style="color: black">2016.11.26</small></h4>
                            <p style="color: black;background-color: #f1f5f8;padding: 10px;border-radius: 2px;text-align: left;word-wrap: break-word;word-break: break-all;">this is a test!</p>
                        </div>
                        <div class="mdl-cell--2-col-desktop mdl-cell--1-col-phone"></div>
                    </div>
                    <br>
                    <div class="mdl-grid" style="padding-bottom: 0;padding-top: 0">
                        <div class="mdl-cell--2-col-desktop  mdl-cell--1-col-phone" style="text-align: center">
                            <img class="circular--square" style="width: 48px;height: 48px;" border="0" src="../image/bg/m1.png" alt="friend picture" vspace="36">
                        </div>
                        <div class="mdl-cell--9-col-desktop  mdl-cell--2-col-phone" style="margin-left: auto;margin-right: auto;">
                            <h4 style="text-align: left;">
                                <small style="color:#8aba56;word-wrap: break-word;word-break: break-all;">test.name</small> <small style="color: black">2016.11.26</small></h4>
                            <p style="color: black;background-color: #f1f5f8;padding: 10px;border-radius: 2px;text-align: left;word-wrap: break-word;word-break: break-all;">this is a test!</p>
                        </div>
                        <div class="mdl-cell--2-col-desktop mdl-cell--1-col-phone"></div>
                    </div>
                    <br>
                    <div class="mdl-grid" style="padding-bottom: 0;padding-top: 0">
                        <div class="mdl-cell--2-col-desktop  mdl-cell--1-col-phone" style="text-align: center">
                            <img class="circular--square" style="width: 48px;height: 48px;" border="0" src="../image/bg/m1.png" alt="friend picture" vspace="36">
                        </div>
                        <div class="mdl-cell--9-col-desktop  mdl-cell--2-col-phone" style="margin-left: auto;margin-right: auto;">
                            <h4 style="text-align: left;">
                                <small style="color:#8aba56;word-wrap: break-word;word-break: break-all;">test.name</small> <small style="color: black">2016.11.26</small></h4>
                            <p style="color: black;background-color: #f1f5f8;padding: 10px;border-radius: 2px;text-align: left;word-wrap: break-word;word-break: break-all;">this is a test!</p>
                        </div>
                        <div class="mdl-cell--2-col-desktop mdl-cell--1-col-phone"></div>
                    </div>
                    <br>
                    <div class="mdl-grid">
                        <div class="mdl-cell--2-col-desktop mdl-cell--1-col-phone"></div>
                        <div class="mdl-cell--9-col-desktop  mdl-cell--2-col-phone "  style="margin-left: auto;margin-right: auto;">
                            <h4 style="text-align: right;">
                                <small style="color: black;">2016.11.26</small><small style="color:#8aba56;word-wrap: break-word;word-break: break-all;">user</small> </h4>
                            <p style="color: black;background-color: #f1f5f8;padding: 10px;border-radius: 2px;text-align: left;word-wrap: break-word;word-break: break-all;">test}</p>
                        </div>
                        <div class="mdl-cell--2-col-desktop  mdl-cell--1-col-phone" style="text-align: center">
                            <img class="circular--square" style="width: 48px;height: 48px;" border="0" src="../image/index_images/friendPic.png" alt="friend picture" vspace="36">
                        </div>
                    </div>
                    <!-- tip类型 -->
                    <div style="text-align: center;">
                        <h6 style="padding: 10px;">
                            <small style="color: white;background-color:#c1c6c9;padding: 5px;border-radius: 5px; ">欢迎到来</small></h6>
                    </div>
                </div>
                <div class="mdl-grid navbar-fixed-bottom" style="background-color: deepskyblue;">
                    <div class="" style=" width: 75%;" >
                        <textarea class="mdl-textfield__input" type="text" rows= "1" id="msg" style="height: 38px;"></textarea>
                    </div>
                    <div style=" width: 25%;text-align: center">
                        <button style="margin-left: auto;margin-right: auto" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="msgSendBtn" onclick="say() ">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </script>
        <!--聊天面板-->
        <script type="text/ng-template" id="chat_panel.html">
            <div class="mdl-card  mdl-shadow--4dp my-middle" style="padding-top: 8px;width:100%;">
            <div>
                <h1>message</h1>
                <h1>message</h1>
                <h1>message</h1>
                <h1>message</h1>
                <h1>message</h1>
                <h1>message</h1>
                <h1>message</h1>
            </div>

                <div class="mdl-grid navbar-fixed-bottom" style="background-color: deepskyblue;">
                    <div class="" style=" width: 75%;" >
                        <textarea class="mdl-textfield__input" type="text" rows= "1" style="height: 38px;"></textarea>
                    </div>
                    <div style=" width: 25%;text-align: center">
                        <button style="margin-left: auto;margin-right: auto" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"  onclick="say() ">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </script>
        <!--好友列表-->
        <script type="text/ng-template" id="friends_list.html">
            <div class=" mdl-grid my-left" >
                <ul  class="mdl-list" id="friends_list">
                <!--<ul class="mdl-list">-->
                    <!--<li ng-repeat="friend in friends" class="mdl-list__item">-->
                        <!--<img src="../avator/{{friend._id}}" alt="" class="img-circle head-img"  >&nbsp;-->
                        <!--<a href="#/friends_list/chatToFr_panel" class="mdl-navigation__link">-->
                            <!--<span>{{friend.name}}</span>&nbsp;&nbsp;&nbsp;-->
                            <!--<span>{{friend.remark}}</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <li ng-repeat="friend in friends" title="{{friend._id}}"  class=" mdl-navigation mdl-color-black-white-800 mdl-list__item" style="width:100%;">
                    <img src="../avator/{{friend._id}}" alt="" class="img-circle head-img">&nbsp;
                    <a href="#/friends_list/chatToFr_panel" ng-click="click()" class="mdl-navigation__link text-overflow" style="border-bottom: black dashed 1px;">
                        <span >{{friend.name}}</span>&nbsp;&nbsp;&nbsp;
                        <span >{{friend.remark}}</span>
                    </a>
                </li>
            </ul>
            </div>
      </script>
        <!--个人信息-->
        <script type="text/ng-template" id="person_info.html">
                <div class="mdl-list">
                    <div class=" mdl-navigation mdl-color-black-white-800 mdl-list__item text-overflow mdl-grid">
                        <span class="mdl-cell--2-col"><img src="../avator/{{myInfo._id}}" alt="" class="img-circle head-img"></span>
                        <span style="float:right;">
                        <a href="#"  class="mdl-navigation__link mdl-cell--2-col-desktop  mdl-cell--2-col-phone">修改头像</a>
                        </span>
                        <hr>
                    </div>

                    <div class=" mdl-navigation mdl-color-black-white-800 mdl-list__item text-overflow mdl-grid">
                        <span>{{myInfo.name}}</span>
                        <span style="float:right;">
                        <a href="#"  class="mdl-navigation__link mdl-cell--2-col-desktop  mdl-cell--2-col-phone">修改签名</a>
                        </span>
                        <hr>
                    </div>

                    <div class=" mdl-navigation mdl-color-black-white-800 mdl-list__item text-overflow mdl-grid">
                        <span class="">{{myInfo.remark}}</span>
                        <span style="float:right;">
                        <a href="#"  class="mdl-navigation__link mdl-cell--2-col-desktop  mdl-cell--2-col-phone">修改签名</a>
                        </span>

                    </div>
                </div>
        </script>
        <div class="head-row">

            <div ng-view=""></div>


        </div>
    </div>

    <script src="./../base/mdl/material.min.js"></script>
    <script type="text/javascript" src="../base/other/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../base/other/template.js"></script>
    <script type="text/javascript" src="../base/other/angular1.5.js"></script>
    <script type="text/javascript" src="../base/other/angular-route.js"></script>
    <!--square-->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../js/chat.js"></script>
    <script type="text/javascript" src="../js/chat_ui.js"></script>

    <script type="text/javascript" src="../js/controller.js"></script>

    <script type="text/javascript" src="../js/index.js"></script>

</body>
</html>