<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>聊天室</title>
    <link rel="stylesheet" href="../base/mdl/material.min.css">
    <link rel="stylesheet" href="../base/bs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index_md.css">
    <link rel="stylesheet" href="../css/myStyle.css">
    <link rel="stylesheet/less" type="text/css" href="../less/index.less">
    <script type="text/javascript" src="../base/other/less.js"></script>

</head>
<body id="b">
<div data-ng-app="myApp"  class="container ng-scope" style="height:100%;">
    <div data-ui-view=""></div>


    <!--主界面home-->
    <script type="text/ng-template" id="home.html">
        <div class="mdl-grid mdl-shadow--2dp my-head navbar-fixed-top" >
            <div class="mdl-cell--1-col-desktop   my-picture">
                <a class="mdl-navigation__link" href="#/personal"><img src="../image/bg/m1.png" class="img-circle head-img" title="" alt=""></a>
            </div>
            <div class="mdl-cell--1-col-desktop   my-menu">
                <a class="mdl-navigation__link" href="#/friends"><i class="mdl-color-text--white material-icons" role="presentation">favorite</i> </a>
            </div>
            <div class="mdl-cell--1-col-desktop   my-menu">
                <a class="mdl-navigation__link" href="#/groups"><i class="mdl-color-text--white material-icons" role="presentation">group</i> </a>
            </div>
            <div class="mdl-cell--1-col-desktop   my-menu">
                <a class="mdl-navigation__link" href="#/search"><i class="mdl-color-text--white material-icons" role="presentation">search</i> </a>
            </div>
            <div class="mdl-cell--1-col-desktop   my-menu">
                <a class="mdl-navigation__link" href="#/settings"><i class="mdl-color-text--white material-icons" role="presentation">settings</i> </a>
            </div>

            <!--<div class="mdl-grid mdl-shadow&#45;&#45;2dp my-head navbar-fixed-top" >-->
            <!--<div class="mdl-cell&#45;&#45;1-col-desktop   my-picture">-->
            <!--<a class="mdl-navigation__link" href="#/{{personal.r}}"><img src="../image/bg/m1.png" class="img-circle head-img" title="" alt=""></a>-->
            <!--</div>-->
            <!--<div ng-repeat="item in list" class="mdl-cell&#45;&#45;1-col-desktop   my-menu">-->
            <!--<a class="mdl-navigation__link" href="#/{{item.rout}}"><i class="mdl-color-text&#45;&#45;white material-icons" role="presentation">{{item.icon}}</i> </a>-->
            <!--</div>-->
            <!--</div>-->

        </div>
    </script>

    <!--个人信息personal-->
    <script type="text/ng-template" id="personal.html">
        <div class="mdl-grid mdl-shadow--2dp my-head navbar-fixed-top" >
            <div class="mdl-cell--1-col-desktop">
                <a class="mdl-navigation__link" data-ng-click="back()" ><i class="mdl-color-text--white material-icons" role="presentation">keyboard_arrow_left</i></a>
            </div>
            <div class="span_center" >
                <span ng-model="list_name">{{list_name}}</span>
            </div>
        </div>
        <div class="person_card mdl-grid head-row">
            <div class="mdl-cell--4-col-phone mdl-cell--4-col-desktop mdl-grid" >
                <p class="span_center">
                    <img src="../avator/{{personal._id}}" title="我的头像" alt="" class="img-circle"  style="width:80px;height:80px;">
                </p>
            </div>
            <div class="mdl-cell--8-col-phone mdl-cell--8-col-desktop "  >
                <p style="text-align: center;" contenteditable="true"><span>{{personal.name}}</span></p>
                <p style="text-align: center;" contenteditable="true">{{personal.remark}}</p>
            </div>
        </div>
    </script>

    <!--[好友列表friends | 群列表group ]-->
    <script type="text/ng-template" id="friends.html">
        <div class="mdl-grid mdl-shadow--2dp my-head navbar-fixed-top" >
            <div class="mdl-cell--1-col-desktop">
                <a class="mdl-navigation__link" href="#" data-ng-click="back()" ><i class="mdl-color-text--white material-icons" role="presentation">keyboard_arrow_left</i></a>
            </div>
            <div class="span_center" >
                <span ng-model="list_name">{{list_name}}</span>
            </div>
        </div>
        <div class="head-row">
            <ul class="mdl-list">
                <li ng-repeat="item in list"  class=" mdl-navigation  mdl-list__item" >
                    <img src="../avator/{{item._id}}" alt="" class="img-circle head-img">&nbsp;
                    <div class="text-overflow" style="width:100%;height:40px;margin: auto;">
                        <a  href="#/chat" ng-init="p_index=$index" ng-click="index(p_index)" class="mdl-navigation__link a-friend ">
                            <span >{{item.name}}</span>&nbsp;&nbsp;&nbsp;
                            <span >{{item.remark}}</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </script>


    <!--聊天内容-->
    <script id="othersay" type="text/html">
        <div class="mdl-grid othersay">
            <div class="mdl-cell--1-col-phone mdl-cell--1-col say_head">
                <img src="../avator/{{from}}" class="head-img img-circle">
            </div>
            <div class="mdl-cell--7-col-phone mdl-cell--7-col">
                <span >{{name}}</span>
                <br>
                <span >{{msg}}</span>
            </div>
        </div>
    </script>
    <script id="mysay" type="text/html">
        <div class="mdl-grid mysay">
            <span class="mdl-cell--2-col-phone mdl-cell--2-col"></span>
            <div class="mdl-cell--7-col-phone mdl-cell--7-col " >
                <span class="name">{{name}}</span>
                <br>
                <span>{{msg}}</span>
            </div>
            <div class="mdl-cell--3-col-phone mdl-cell--3-col say_head">
                <img src="../avator/{{from}}" class="head-img">
            </div>
        </div>
    </script>
    <!-- tip类型 -->
    <script id="notesay" type="text/html">
        <ul class="mdl-list"  style="margin: 0;padding:0;">
            <li ng-repeat="item in list"  class="friends-list mdl-navigation mdl-color-black-white-800 mdl-list__item" style="width:100%;height:40px;margin:1px 0 1px 0;background-color: #eee; ">
                <div class="text-overflow" style="width:100%;height:40px;margin: auto;">
                    <span >{{name}}</span>&nbsp;&nbsp;&nbsp;
                    <span >{{date}}</span>
                    <span >{{msg}}</span>
                </div>
            </li>
        </ul>
    </script>

    <!--[chat ]-->
    <script type="text/ng-template" id="chat.html">
        <div class="mdl-grid mdl-shadow--2dp my-head navbar-fixed-top" >
            <div class="mdl-cell--1-col-desktop">
                <a class="mdl-navigation__link" href="#" ng-click="back()" ><i class="mdl-color-text--white material-icons" role="presentation">keyboard_arrow_left</i></a>
            </div>
            <div class="" style="margin:auto;">
                <span ng-model="list_name" style="text-align: center;">{{list_name}}</span>
            </div>
        </div>

        <div >
            <div class="head-row" id="contentInput" >

            </div>
        </div>
        <div class="mdl-grid navbar-fixed-bottom send_mess">
            <div class="" style=" width: 75%;" >
                <textarea ng-model="dialog_content" id="msg" class="mdl-textfield__input" type="text" rows= "1" style="height: 38px;"></textarea>
            </div>
            <div style=" width: 25%;text-align: center">
                <input data-ng-click="say()" value="send" type="button" style="margin-left: auto;margin-right: auto;border:none;" class="mdl-button">

            </div>
        </div>
    </script>
</div>

<script src="./../base/mdl/material.min.js"></script>
<script type="text/javascript" src="../base/other/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../base/other/reg_exp.js"></script>
<script type="text/javascript" src="../base/other/template.js"></script>
<script type="text/javascript" src="../base/other/angular1.5.js"></script>
<script type="text/javascript" src="../base/other/angular-ui-router.js"></script>
<!--square-->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<!--<script type="text/javascript" src="../js/chat.js"></script>-->
<script type="text/javascript" src="../js/ajax.js"></script>

<script type="text/javascript" src="../js/app.js"></script>

<script type="text/javascript">

</script>
</body>
</html>