<!--laste-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>登录</title>
	<link href="../css/login.css" rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="../css/login_styles.css">
	<link rel="stylesheet" href="../base/mdl/material.css">
	<link rel="stylesheet" href="../base/bs/bootstrap.css">
	<link  type="application/javascript"  href="../base/mdl/material.js">
	<script></script>

</head>
<body>

<!--  {name:name,type:string,min-len:1,max-len:128},
        {name:pwd,type:string,min-len:6,max-len:128},
        {name:email,type:string},
        {name:age,type:int,range:0-150},
        {name:sex:,type:int,range:0-3},
        {name:token,type:string,length:16}

  -->
<div data-ng-app="loginApp" class=" ng-scope">
	<div data-ui-view=""></div>
	<!--登录-->
	<script type="text/ng-template" id="login.html">
	<div class="mdl-grid--no-spacing login-container">
		<div class="login-header ">
			<h1 class="log" >
				<img src="../image/bg/link.jpg" alt="" class="img-circle  log ">
				toLine
			</h1>
		</div>
		<div class="content mdl-grid--no-spacing">
			<div class=" mdl-cell--4-col-desktop mdl-cell--4-offset-desktop mdl-cell--4-col-phone mdl-cell--4-offset-phone">
				<div class="nav mdl-tabs mdl-js-tabs mdl-js-ripple-effect ">
					<div class="mdl-tabs__tab-bar ">
						<a data-ng-click="toLogin()" href="" class="mdl-tabs__tab is-active my-tab" >登录</a>
						<a data-ng-click="toRegister()" class="mdl-tabs__tab my-tab">注册</a>
					</div>
					<form action="index-new.html" id="login_form">
						<div class="mdl-tabs__panel is-active" id="login_panel">
							<div class="mdl-textfield mdl-js-textfield">
								<input class="mdl-textfield__input" type="text" placeholder="邮箱" id="email_login" pattern="^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$">
								<label class="mdl-textfield__label" for="email_login"></label>
								<span class="mdl-textfield__error">邮箱格式错误</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield">
								<input class="mdl-textfield__input" type="password" placeholder="密码" id="password_login" pattern="^[a-zA-Z\d]\w{4,11}[a-zA-Z\d]$">
								<label class="mdl-textfield__label" for="password_login"></label>
								<span class="mdl-textfield__error">字母或数字开始 长度6-13 不包含特殊字符</span>
							</div>
							<div class="mdl-grid mdl-textfield">
								<div class="mdl-textfield mdl-js-textfield mdl-cell--6-col">
									<input class="mdl-textfield__input " placeholder="验证码" type="text" id="code_login" pattern="^\w{6}$">
									<label class="mdl-textfield__label" for="code_login"></label>
									<span class="mdl-textfield__error">字母或数字 长度6</span>
								</div>
								<image src="/public/api/cyzm6" class="mdl-cell--6-col" id="code_img_login" alt="click"></image>
							</div>

							<button type="button" id="check_login_btn" class="my-login-button mdl-button mdl-js-button mdl-button--raised md-js-ripple-effect mdl-button--accent">
								登录
							</button>
						</div>
					</form>
					<hr>
					<form action="pub_chat.html">
						<button  type="submit"  class="my-login-button mdl-button mdl-js-button mdl-button--raised md-js-ripple-effect mdl-button--accent">
							免登录聊天
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="footer"></div>
	</div>
	</script>





	<!--注册-->
	<script type="text/ng-template" id="register.html">
		<div class="mdl-grid--no-spacing login-container">
			<div class="login-header ">
				<h1 class="log" >
					<img src="../image/bg/link.jpg" alt="" class="img-circle  log ">
					toLine
				</h1>
			</div>
			<div class="content mdl-grid--no-spacing">
				<div class=" mdl-cell--4-col-desktop mdl-cell--4-offset-desktop mdl-cell--4-col-phone mdl-cell--4-offset-phone">
					<div class="nav mdl-tabs mdl-js-tabs mdl-js-ripple-effect ">
						<div class="mdl-tabs__tab-bar ">
							<a data-ng-click="toLogin()" href="" class="mdl-tabs__tab is-active my-tab" >登录</a>
							<a data-ng-click="toRegister()" class="mdl-tabs__tab my-tab">注册</a>
						</div>
						<form action="login.html" id="register_form">
							<div class="mdl-tabs__panel" id="register_panel">
								<div class="mdl-textfield mdl-js-textfield ">
									<input class="mdl-textfield__input" type="text" placeholder="邮箱" id="email_register" pattern="^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$">
									<label class="mdl-textfield__label" for="email_register"></label>
									<span class="mdl-textfield__error">邮箱格式错误</span>
								</div>
								<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" type="password" placeholder="密码" id="password_register" pattern="^[a-zA-Z\d]\w{4,11}[a-zA-Z\d]$" >
									<label class="mdl-textfield__label" for="password_register"></label>
									<span class="mdl-textfield__error">字母或数字开始 长度6-13 不包含特殊字符</span>
								</div>
								<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" type="password" placeholder="确认密码" id="confirm_register" pattern="^[a-zA-Z\d]\w{4,11}[a-zA-Z\d]$">
									<label class="mdl-textfield__label" for="confirm_register"></label>
									<span class="mdl-textfield__error">字母或数字开始 长度6-13 不包含特殊字符</span>
								</div>
								<div class="mdl-grid mdl-textfield">
									<div class="mdl-textfield mdl-js-textfield mdl-cell--6-col">
										<input class="mdl-textfield__input " placeholder="验证码" type="text" id="code_register" pattern="^\w{6}$">
										<label class="mdl-textfield__label" for="code_register"></label>
										<span class="mdl-textfield__error">字母或数字 长度6</span>
									</div>
									<image src="/public/api/cyzm6" class="mdl-cell--6-col" id="code_img_register" alt="图片无法显示"></image>
								</div>

								<button type="button" id="check_register_btn" class="my-login-button mdl-button mdl-js-button mdl-button--raised md-js-ripple-effect mdl-button--accent">
									注册
								</button>
							</div>
						</form>
						<hr>
						<form action="pub_chat.html">
							<button  type="submit"  class="my-login-button mdl-button mdl-js-button mdl-button--raised md-js-ripple-effect mdl-button--accent">
								免登录聊天
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="footer"></div>
		</div>
	</script>

</div>

<script type="text/javascript" src="../base/other/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../base/other/reg_exp.js"></script>
<script type="text/javascript" src="../base/other/angular1.5.js"></script>
<script type="text/javascript" src="../base/other/angular-ui-router.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/login.js"></script>
<script src="../base/mdl/material.min.js"></script>
</body>

</html>