<div class="no-head-row">
    <ul class="mdl-list">
        <li class=" mdl-navigation  mdl-list__item" >
            <div class="text-overflow">
                <p  data-ng-click="changeName()">
                    <i class="mdl-color-text--black material-icons" role="presentation">person_pin</i>
                    昵称：{{personal.name}}

                </p>
            </div>
        </li>
        <li class=" mdl-navigation  mdl-list__item" >
            <div class="text-overflow">
                <p  data-ng-click="changeSign()">
                    <i class="mdl-color-text--black material-icons" role="presentation">message</i>
                    签名：{{personal.remark}}

                </p>
            </div>
        </li>
        <li class=" mdl-navigation  mdl-list__item" >
            <div class="text-overflow">
                <p  data-ng-click="changeAge()">
                    <i class="mdl-color-text--black material-icons" role="presentation">watch_later</i>
                    年龄：{{personal.age}}
                </p>
            </div>
        </li>
    </ul>
</div>